<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <PublishDir>$(MSBuildThisFileDirectory)..\..\..\artifacts\publish\</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <TargetFramework>net8.0-windows</TargetFramework>
    <SelfContained>$(PublishSelfContained)</SelfContained>
    <RuntimeIdentifier>$(PublishRuntime)</RuntimeIdentifier>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
  </PropertyGroup>
</Project>
